
.info--section{
  display: flex;
  padding: 30.333px 85.333px;
  flex-direction:column;
  padding-bottom:0;
 

}
.info--section div h2{
 
 
  margin-bottom:20px;

}
.info--section div p{
  display: flex;
  padding-bottom: 20.333px;
  font-family: "Lato",sans-serif;
  font-size: 14px;
  font-size: .875rem;

}




.details-table{  /* ul*/
  list-style: none;
  border-top: 1px solid #e0e1e5;
  display: table;
  width: 100%;
  margin: 1.5625em 0 1.25em;
  padding:0;
  box-sizing:border-box;
  color: #333;
  font-family: "Lato",sans-serif;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.4;
  font-weight: 400;
}
.details-table li{
 display: table-row;
 
 
}
.attribute{      /* first span in li*/
 min-width: 140px;
 color:#666;
 display: table-cell;
 border-bottom: 1px solid #e0e1e5;
 padding: .8125em .8125em .8125em 0;
 
}
.attributeValue{   /*second span in li*/
  display: table-cell;
  border-bottom: 1px solid #e0e1e5;
  max-width: 600px; 
  word-wrap: break-word;
}

@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 1024px) {
.info--section{
  display: flex;
  padding: 30.333px 15.333px 0px 15.333px ;
  
  flex-direction:column;
}
}
@media only screen and (max-width: 767px) {
.info--section{ 
  padding-bottom: 0px;
}

}
@media only screen and (max-width: 480px) {
 .info--section{
  padding-bottom: 0px;
}
}
